<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fazendaSuinos.Properties.Settings.fazendaSuinosDBConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=fazendaSuinosDB;Persist Security Info=True;User ID=admin;Password=rodolfo;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>